* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.buttons>* {
    display: inline-block;
    color: white;
    background-color: blue;
    box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    margin: 10px;
}

.btn-px {
    font-size: 80px;
}

.btn-rem {
    font-size: 5rem;
    padding: .5em;
    margin: .25em;
    /*  5 * 16px base = 80px */
    /* Los rem se basan en la raiz del documento  */
    /* Los em se van a basar en el tamano del elemento en el que estemos */
}

html {
    font-size: 70%;
}

@media (min-width:600px) {
    html {
        font-size: 100%;
    }
}